.connect {
  font-family: "Rubik" sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.connect .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 20vw;
}
.connect form {
  margin-top: 30px;
  width: 100%;
}
