@import '../../variables';

$border-radius: 10px;
$icon-size: 30px;
$shadow:#1A1A1A33 0px 5px 10px;

.dashboard {
    font-family: 'Rubik', sans-serif;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;


    .pygrid-icon {
        margin-right: 5px;
        background-image: url('../../assets/img/pygrid.svg');
        height: $icon-size;
        width: $icon-size;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
    }

    .header {
        display: flex;
        color: white;
        justify-content: space-between;
        background: $off-black;
        padding: 10px;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        box-shadow: $shadow;

        .brand {
            flex-direction: row;
        }

        .tabs {
            margin: 0;

            & > li {
                border-radius: 2.5px;
                border: none;
                opacity: .5;
            }
            .react-tabs__tab--selected {
                opacity: 1;
                background: #323232;
                color: white;

                &:focus {
                    box-shadow: none;
                    outline: none; 

                    &::after {
                        background: transparent;
                    }
                }
            }
        }
    }

    .tab {
        padding: 10px;
        margin: 0 20px;

        .title {
            text-transform: none;
            font-weight: normal;
        }

        .table {
            box-shadow: $shadow;
        }
    }

    .card {
        padding: 0 0 30px 0;
        height: 80vh;
        width: 80vw;
        border-radius: $border-radius;
    }
}