@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Overpass", sans-serif;
  background: url("assets/img/gradientbg.svg");
  background-size: cover;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  padding: 10vh 10vw;
}
.App .header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App .header .brand {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.App .header .logo {
  height: 60px;
  pointer-events: none;
}
.App .header .title {
  font-weight: normal;
}
.App .header span {
  font-size: 16px;
  text-transform: uppercase;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*:focus {
  outline: none;
}
